/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* -------------------------------- CSS reset ------------------------------- */
:root {
  --background: #f9f9fb;
  --dark: #2828a3;
  --grey: #303066;
  --primary: #009FB7;
  --primaryActive: #55c4d5;
  --secondary: #6ac24f;
  --secondaryActive: #52441a;
  --accent: #FE4A49;
  --accentActive: #f77c7c;
}

/* --------------------------------^ Variables ^------------------------------- */

.desktop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.calcBody {
  height: 70svh;
  width: 60svh;
  background-color: var(--dark);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  padding: 0.7em;
  gap: 1rem;
  overflow: scroll;
}

.display {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 20%;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2em;
  font-weight: 800;

}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem
}

.btn {
  width: 20%;
  height: 100%;
  text-align: center;
  background-color: var(--grey);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.numberBtn {
  background-color: var(--primary);
  color: var(--background);
}

.numberBtn:active {
  background-color: var(--primaryActive);
  color: var(--background);
}

.operationBtn {
  background-color: var(--secondary);
  color: var(--accent);
}

.operationBtn:active {
  background-color: var(--secondaryActive);
  color: var(--accent);
}

.specialBtn {
  background-color: var(--accent);
  color: var(--secondary);
}

.specialBtn:active {
  background-color: var(--accentActive);
  color: var(--secondary);
}

#equalsBtn {
  width: 46%
}